@import 'compass';


/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// Palette
// http://www.colourlovers.com/business/trends/branding/7830/Gloyneftegas

$color-light-blue: #01B8F1;
$color-dark-blue: #00364A;
$color-black: #000002;
$color-dark-green: #273301;
$color-light-green: #95CB15;
$color-light-gray: #F2EEEF;

// Breakpoints

/* Larger than mobile */
$bp-xsmall: 400px;

/* Larger than phablet (also point when grid becomes active) */
$bp-small: 550px;

/* Larger than tablet */
$bp-medium: 750px;

/* Larger than desktop */
$bp-large: 1000px;

/* Larger than Desktop HD */
$bp-xlarge: 1200px;


/* Mixins
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {

  border-bottom: 1px solid #ccc;

  .column, .columns { 
    padding: .75em;
    &:last-child { 
      @media (max-width: $bp-small) { padding: 0; }
    }
  }

  // to vertically align center columns
  @media (min-width: $bp-small) {
    .row {
      display: flex;
      flex-direction: row;
      align-items: center; 
    }
  }

  .logo { 
    color: $color-light-green;
    font-weight: bold;
    font-size: 1.5em;
    
    a { 
      text-decoration: none; 
      color: $color-light-green;
    }
  }

  .topnav {

    @media (min-width: $bp-small) { text-align: right; }

    ul, li { list-style: none; margin: 0; padding: 0; }

    li { display: inline-block; }

    a { 
      text-decoration: none;
      font-size: 1.5rem;
      padding: .5em;
      font-weight: bold;
    }

  }

}

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a { 
  color: $color-dark-blue;
  transition: color .15s ease-in;
}

a:hover { color: $color-light-blue; }

/* Topnav
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.collapsible-topnav {

  .collapsible-toggle { 
    color: $color-dark-blue;
    cursor: pointer; 
    float: right;
  }

  @media (min-width: $bp-small) {
    .collapsible-toggle { 
      display: none;
      color: $color-dark-blue;
    } 
  }

  @media (max-width: $bp-small) {

    .logo-col .logo { float: left; }

    .logo { font-size: 1em; }

    ul {  display: none; }

    &.open {

      .collapsible-toggle {  color: $color-light-blue; } 
      
      ul, li { display: block; }

      li { border-top: 1px solid #ccc; }
      a { padding: .5em 1em; display: block; }

    }

  }

}




/* Home
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero { 
  @include display-flex;
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(center);
  @include background-image(linear-gradient($color-black, $color-dark-blue));
  height: 100px;
  color: $color-light-gray;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;

  &.trees {

    overflow-x: hidden;
    overflow-y: hidden;

    .tree {
      @include transform(rotate(90deg));
      font-size: 1.2em;
      text-shadow: 0px 0px 10px lightblue;
      opacity: .3;
      line-height: 3em;
    }

    @include keyframes(beat) {
      0% { opacity: .1; }
      50% { opacity: .25; }
      100% { opacity: .1; }
    }

    .tree:not(:hover) {
      &:nth-child(2n) { @include animation(beat 1s infinite); }
      &:nth-child(2n+1) { @include animation(beat 1.5s infinite); }
      &:nth-child(3n) { @include animation(beat 2s infinite); }
      &:nth-child(3n+1) { @include animation(beat 2.5s infinite); }
      &:nth-child(4n) { @include animation(beat 3s infinite); }
    }

    .tree:hover { opacity: 1; }

    .tree:after {
      content: "|";
      color: darkslategrey;
      text-shadow: 2px 0px 3px burlywood;
    }

    .tree:nth-child(2n) {
      font-size: .75em;
    }

  }

}

/* Articles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.articles-list {

  &, li { list-style: none; }

  .date { color: #999; }

}

.article {

}
