<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>Justin Martinez</title>
    <meta name="description" content="">
    <meta name="author" content="Justin Martinez">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <%= js :app %>
    <%= css :app %>

    <link rel="icon" type="image/png" href="<%= image_path 'images/favicon.png' %>" />

  </head>
  <body>

  <header>
    <div class="row collapsible-topnav">
      <div class="one-third column logo-col">
        <div class="logo">
          <a href="/">JM</a>
        </div>
        <div class="collapsible-toggle">
          <i class="fa fa-bars"></i>
        </div>
      </div>
      <div class="two-thirds column">
        <nav class="topnav collapsible">
          <ul>
            <li><a href="#">Articles</a></li>
            <li><a href="#">Experiments</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>

  </header>

  <div class="section hero trees">
    <% 24.times do %>
      <span class="tree">&lt;&lt;&lt;&lt;&lt;==</span>
    <% end %>
  </div>

  <%= yield %>

  </body>
</html>
