<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <title>Justin Martinez</title>
    <meta name="description" content="">
    <meta name="author" content="Justin Martinez">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <%= css :app %>

    <link rel="icon" type="image/png" href="<%= image_path 'images/favicon.png' %>" />

  </head>
  <body>

  <%= yield %>

  </body>
</html>
